body {
    background-color: #161718;
    color: #bfaaad;

    font-family: 'Lato', sans-serif;
    margin: 0px;
}

/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Cormorant Garamond', serif;*/

/*font-family: 'Assistant', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/
/*'Gothic A1', sans-serif;*/


/* GLOBAL */
.row {
    max-width: 1024px;
    margin: 0 auto;
}

.h1pad {
    padding-left: 16px;
    padding-right: 16px;
}

.v1pad {
    padding-top: 16px;
    padding-bottom: 16px;
}

.h2pad {
    padding-left: 32px;
    padding-right: 32px;
}

.v2pad {
    padding-top: 32px;
    padding-bottom: 32px;
}

.h3pad {
    padding-left: 48px;
    padding-right: 48px;
}

.v3pad {
    padding-top: 48px;
    padding-bottom: 48px;
}

.h4pad {
    padding-left: 64px;
    padding-right: 64px;
}

.v4pad {
    padding-top: 64px;
    padding-bottom: 64px;
}

.h5pad {
    padding-left: 80px;
    padding-right: 80px;
}

.v5pad {
    padding-top: 80px;
    padding-bottom: 80px;
}

.h6pad {
    padding-left: 96px;
    padding-right: 96px;
}

.v6pad {
    padding-top: 96px;
    padding-bottom: 96px;
}

/*TOP PADDING/LEFT*/
.h1left {
    padding-left: 16px;

}

.v1top {
    padding-top: 16px;

}

.h2left {
    padding-left: 32px;

}

.v2top {
    padding-top: 32px;

}

.h3left {
    padding-left: 48px;

}

.v3top {
    padding-top: 48px;

}

.h4left {
    padding-left: 64px;

}

.v4top {
    padding-top: 64px;

}

.h5left {
    padding-left: 80px;

}

.v5top {
    padding-top: 80px;

}

.h6left {
    padding-left: 96px;

}

.v6top {
    padding-top: 96px;

}

/*BOTTOM/RIGHT*/
.h1right {

    padding-right: 16px;
}

.v1bottom {

    padding-bottom: 16px;
}

.h2right {

    padding-right: 32px;
}

.v2bottom {

    padding-bottom: 32px;
}

.h3right {

    padding-right: 48px;
}

.v3bottom {

    padding-bottom: 48px;
}

.h4right {

    padding-right: 64px;
}

.v4bottom {

    padding-bottom: 64px;
}

.h5right {

    padding-right: 80px;
}

.v5bottom {

    padding-bottom: 80px;
}

.h6right {

    padding-right: 96px;
}

.v6bottom {

    padding-bottom: 96px;
}
/*EXTRA*/
.no-bullets {
    list-style-type: none;
}

.text-center {
    text-align: center;
}

/* COLOR */
.eerie-blackbg {
    background-color: #161718;
}

.dark-liverbg {
    background-color: #5c5659;
}

.light-greybg {
    background-color: #cad3d2;
}

.whitebg {
    background-color: #fdfcfc;
}

.silver-pinkbg {
    background-color: #bfaaad;
}

.raisin-blackbg {
    background-color: #362e3e;
}

/* TEXT COLOR */
.eerie-blacktext {
    color: #161718;
}

.dark-livertext {
    color: #5c5659;
}

.light-greytext {
    color: #cad3d2;
}

.whitetext {
    color: #fdfcfc;
}

.silver-pinktext {
    color: #bfaaad;
}

.raisin-blacktext {
    color: #362e3e;
}

/* LINK */
a {
    color: #bfaaad;
    text-decoration: none;
}

a:hover {
    color: #fdfcfc;
}

a:visited {
    color: #bfaaad;
}

/* TEXT */
li {
    font-size: 1.1em;
    font-weight: 300;
}

.shadow {
    text-shadow: 0px 6px 0px #161718;
}

/* HEADER */
.menu {
    margin: 0px;
    display: grid;
    grid-template-columns: 3fr .7fr .7fr .7fr .3fr;
    grid-template-rows: 1fr;

    grid-gap: 10px;
    opacity: 1 !important;
    z-index: 11;

}

.menu .portfolio {

    grid-column: 2 / span 1;
}

.menu .resume {

    grid-column: 3 / span 1;
}

.menu .contact {

    grid-column: 4 / span 1;
}

/*COVER*/
.cover {
    /*background-image: url("../../src/images/night-sky-h-min.jpg");*/
    /*background: linear-gradient(transparent, #ffffff), url("../../src/images/mountain-night.jpg");*/
    background-image: url("../../src/images/mountain-night.jpg"), linear-gradient(#151617, #ffffff);
    background-size: cover;
    opacity: 1;

}

.give-me-space {
    margin-top: 18%;
    margin-left: 5%;
    margin-bottom: 5%;

}

/* LINES */
/* The progress container (grey background) */
.progress-container {
    width: 20%;
    height: 3px;
    background: rgb(253, 252, 252, 0);
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 3px;
    background: #fdfcfc;
    width: 10%;
}

/*COVER TITLES*/
.cover h1 {
    /*font-family: 'Spectral SC', serif;*/
    /*font-family: 'Lora', serif;*/
    /*font-family: 'Josefin Slab', serif;*/
    /*font-family: 'Playfair Display', serif;*/
    font-size: 6.4em;
    margin: unset;
    letter-spacing: 4px;
}

.cover h6 {
    font-size: 1.4em;
    margin: unset;
    letter-spacing: 4px;
}

/* ABOUT */
.about {
	display: grid;
	grid-template-columns: 6rem 1fr .3fr 1fr .3fr;
	grid-template-rows: 1fr .3fr 1fr .3fr;
	grid-column-gap: 15px;
}

.about .bio {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	align-self: center;
}
.about .birthday {
	grid-column: 3 / span 1;
	grid-row: 1 / span 1;
}
.about .me-pics {
	grid-column: 4 / span 2;
	grid-row: 1 / span 2;
}
.about .me-pics2 {
	grid-column: 3 / span 2;
	grid-row: 2 / span 2;
}
.about .bio-2 {
	grid-column: 1 / span 2;
	grid-row: 3 / span 2;
}

.about .website-designer {
	grid-column: 5 / span 1;
	grid-row: 3 / span 1;
	align-self: center;
}
.about .small-bio {
	grid-column: 4 / span 1;
	grid-row: 4 / span 1;
	font-size: 2em;
	align-self: center;
	letter-spacing: 8px;
}
.me-pics>img, .me-pics2>img {
	 object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.m10top {
	margin-top: 10rem;
}
.about h3 {
    margin-top: 1rem;
    font-size: 2em;
}
.about h6 {
	writing-mode: vertical-rl;
text-orientation: upright; 


}