body {
    background-color: #161718;
    color: #bfaaad;
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

/* COLOR */
.eerie-blackbg {
    background-color: #161718;
}

.dark-liverbg {
    background-color: #5c5659;
}

.light-greybg {
    background-color: #cad3d2;
}

.whitebg {
    background-color: #fdfcfc;
}

.silver-pinkbg {
    background-color: #bfaaad;
}

.raisin-blackbg {
    background-color: #362e3e;
}

/* TEXT COLOR */
.eerie-blacktext {
    color: #161718;
}

.dark-livertext {
    color: #5c5659;
}

.light-greytext {
    color: #cad3d2;
}

.whitetext {
    color: #fdfcfc;
}

.silver-pinktext {
    color: #bfaaad;
}

.raisin-blacktext {
    color: #362e3e;
}

/* LINK */
a {
    color: #bfaaad;
    text-decoration: none;
}

a:hover {
    color: #fdfcfc !important;
}

a:visited {
    color: #bfaaad;
}

.underline {
	text-decoration: underline;
}

/* GLOBAL */

.vertical-word {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.shadow-text {
    text-shadow: 0px 6px 0px #161718;
}

.no-bullets {
    list-style-type: none;
}

/*MARGIN GLOBAL*/

.m1top {
    margin-top: 1vh;
}


/* PADDING GLOBAL */
.h1pad {
    padding-left: clamp(16px, 3vw, 48px);
    padding-right: clamp(16px, 3vw, 48px);
}

.v1pad {
    padding-top: clamp(16px, 3vh, 48px);
    padding-bottom: clamp(16px, 3vh, 48px);
}

.h2pad {
    padding-left: clamp(32px, 6vw, 96px);
    padding-right: clamp(32px, 6vw, 96px);
}

.v2pad {
    padding-top: clamp(32px, 6vh, 96px);
    padding-bottom: clamp(32px, 6vh, 96px);
}

.h3pad {
    padding-left: clamp(48px, 9vw, 144px);
    padding-right: clamp(48px, 9vw, 144px);
}

.v3pad {
    padding-top: clamp(48px, 9vh, 144px);
    padding-bottom: clamp(48px, 9vh, 144px);
}

.h4pad {
    padding-left: clamp(64px, 12vw, 192px);
    padding-right: clamp(64px, 12vw, 192px);
}

.v4pad {
    padding-top: clamp(64px, 12vh, 192px);
    padding-bottom: clamp(64px, 12vh, 192px);
}

.h5pad {
    padding-left: clamp(80px, 15vw, 240px);
    padding-right: clamp(80px, 15vw, 240px);
}

.v5pad {
    padding-top: clamp(80px, 15vh, 240px);
    padding-bottom: clamp(80px, 15vh, 240px);
}

.h6pad {
    padding-left: clamp(96px, 18vw, 288px);
    padding-right: clamp(96px, 18vw, 288px);
}

.v6pad {
    padding-top: clamp(96px, 18vh, 288px);
    padding-bottom: clamp(96px, 18vh, 288px);
}

/* PADDING GLOBAL LEFT */
.h1left {
    padding-left: clamp(16px, 3vw, 48px);
}

.v1bottom {
    padding-bottom: clamp(16px, 3vh, 48px);
}

.h2left {
    padding-left: clamp(32px, 6vw, 96px);
}

.v2bottom {
    padding-bottom: clamp(32px, 6vh, 96px);
}

.h3left {
    padding-left: clamp(48px, 9vw, 144px);
}

.v3bottom {
    padding-bottom: clamp(48px, 9vh, 144px);
}

.h4left {
    padding-left: clamp(64px, 12vw, 192px);
}

.v4bottom {
    padding-bottom: clamp(64px, 12vh, 192px);
}

.h5left {
    padding-left: clamp(80px, 15vw, 240px);
}

.v5bottom {
    padding-bottom: clamp(80px, 15vh, 240px);
}

.h6left {
    padding-left: clamp(96px, 18vw, 288px);
}

.v6bottom {
    padding-bottom: clamp(96px, 18vh, 288px);
}

/* PADDING GLOBAL RIGHT */
.h1right {
    padding-right: clamp(16px, 3vw, 48px);
}

.v1top {
    padding-top: clamp(16px, 3vh, 48px);
}

.h2right {
    padding-right: clamp(32px, 6vw, 96px);
}

.v2top {
    padding-top: clamp(32px, 6vh, 96px);
}

.h3right {
    padding-right: clamp(48px, 9vw, 144px);
}

.v3top {
    padding-top: clamp(48px, 9vh, 144px);
}

.h4right {
    padding-right: clamp(64px, 12vw, 192px);
}

.v4top {
    padding-top: clamp(64px, 12vh, 192px);
}

.h5right {
    padding-right: clamp(80px, 15vw, 240px);
}

.v5top {
    padding-top: clamp(80px, 15vh, 240px);
}

.h6right {
    padding-right: clamp(96px, 18vw, 288px);
}

.v6top {
    padding-top: clamp(96px, 18vh, 288px);
}

/*BUTTON*/
.btn {
    border-radius: unset;
}

.btn-outline-light {
    color: #bfaaad;
    border-color: #bfaaad;
}

.btn-outline-light:hover {
    color: #161718 !important;
    background-color: #bfaaad;
    border-color: #bfaaad;
}

/* HEADER */
.menu {

    margin: 0px;
    display: grid;
    grid-template-columns: 3fr .7fr .7fr .7fr .7fr .3fr;
    grid-template-rows: 1fr;

    grid-gap: 10px;
    opacity: 1 !important;
    z-index: 11;

}

.menu .portfolio {

    grid-column: 2 / span 1;
}

.menu .resume {

    grid-column: 3 / span 1;
}

.menu .tutorials {

    grid-column: 4 / span 1;
}

.menu .contact {
    grid-column: 5 / span 1;
}

/* ALL OTHER MENUS WITH HOME */
.menu-home {
    margin: 0px;
    display: grid;
    grid-template-columns: 3fr .7fr .7fr .7fr .7fr .7fr .3fr;
    grid-template-rows: 1fr;

    grid-gap: 10px;
    opacity: 1 !important;
    z-index: 11;

}

.menu-home .home {

    grid-column: 2 / span 1;
}

.menu-home .portfolio {

    grid-column: 3 / span 1;
}

.menu-home .resume {

    grid-column: 4 / span 1;
}

.menu-home .tutorials {

    grid-column: 5 / span 1;
}

.menu-home .contact {
    grid-column: 6 / span 1;
}

/*COVER*/
.cover {

    /*background-image: url("../../src/images/mountain-night.jpg"), linear-gradient(#151617, #ffffff);*/
    background-size: cover;
    width: 100%;
    opacity: 1;

}

.give-me-space {
    margin-top: 18%;
    margin-left: 5%;
    margin-bottom: 5%;

}

/* LINES */
/* The progress container (grey background) */
.progress-container {
    max-width: 100%;
    width: 90%;
    height: 2px;
    background: rgb(253, 252, 252, 0);
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 2px;
    background: #bfaaad;
    width: 3%;
    max-width: 100%;
}

/*COVER TITLES*/
.cover h1 {
    font-size: 6.4em;
    margin: unset;
    letter-spacing: 4px;
}

.cover h6 {
    font-size: 1.4em;
    margin: unset;
    letter-spacing: 4px;
}



/* MOBILE COVER */

@media (max-width: 767.98px) {

    /*COVER TITLES*/
    .cover h1 {
        font-size: 5em;
        margin: unset;
        letter-spacing: 4px;
    }

    .cover h6 {
        font-size: .9em;
        margin: unset;
        letter-spacing: 4px;
    }

}

/*SMALL MOBILE COVER TITLES*/
@media screen and (max-width: 468px) {
    .cover h1 {
        font-size: 2em;

    }

    .cover h6 {
        font-size: .6em;

    }
}


/* ABOUT */
.about {
    display: grid;
    grid-template-columns: .3fr 1fr .6fr 1fr .15fr .15fr;
    grid-template-rows: 1fr .3fr .3fr .3fr;
    grid-column-gap: 2rem;
}

.about .bio {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
}

.about .birthday {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.about .masters {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.about .me-pics {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
    z-index: 9;
}

.about .me-pics2 {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
}

.about .bio-2 {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;

}

.about .website-designer {
    grid-column: 5 / span 2;
    grid-row: 3 / span 1;
    align-self: center;
}

.about .small-bio {
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
    font-size: 2em;
    align-self: center;
    letter-spacing: 8px;
}

/* ABOUT PAD */

@media (max-width: 1200px) {
    .about {
      grid-template-columns: .3fr 1fr .6fr 1fr .6fr;

    }
    }

@media (max-width: 991.98px) {
    .about {
        width: inherit;
        grid-template-columns: .3fr 1fr .3fr;
        grid-template-rows: .5fr .3fr .3fr 1fr .3fr;
        grid-row-gap: 2rem;

    }

    .about .birthday {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .about .bio {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        align-self: center;
    }

    .about .me-pics {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    .about .me-pics2 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .about .bio-2 {
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;

    }

    .about .masters {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }

    .about .website-designer {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
        align-self: none;
    }

    .about .small-bio {
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;
        font-size: 2em;
        align-self: center;
        letter-spacing: 8px;
    }
}

/* LARGE MOBILE ABOUT */

@media (max-width: 767.98px) {

    .hide-sm {
        display: none;
    }

    .about {
        grid-template-columns: .3fr 1fr;
        grid-template-rows: 1fr .3fr .3fr 1fr .3fr;
        grid-row-gap: 2rem;

    }

    .about .birthday {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .about .bio {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        align-self: center;
    }

    .about .me-pics {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    .about .me-pics2 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .about .bio-2 {
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;

    }

    .about .masters {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }

    .about .website-designer {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        align-self: none;
    }

    .about .small-bio {
        grid-column: 1 / span 2;
        grid-row: 5 / span 1;
        font-size: 2em;
        align-self: center;
        letter-spacing: 8px;
    }

}

/*MOBILE ABOUT*/

@media (max-width: 575.98px) {

    .about {

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr .3fr .3fr .3fr 1fr .3fr;
        grid-row-gap: 2rem;

    }

    .about .birthday {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        align-self: right;
    }

    .about .bio {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        align-self: center;
    }

    .about .me-pics {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
    }

    .about .me-pics2 {
        grid-column: 1 / span 3;
        grid-row: 4 / span 1;
    }

    .about .bio-2 {
        grid-column: 1 / span 3;
        grid-row: 5 / span 1;

    }

    .about .masters {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        align-self: center;
    }

    .about .website-designer {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
        align-self: left;
    }

    .about .small-bio {
        grid-column: 1 / span 3;
        grid-row: 6 / span 1;
        font-size: 2em;
        align-self: center;
        letter-spacing: 8px;
    }

}

/*MOBILE ABOUT*/

@media (max-width: 440px) {

    .about {

        grid-template-columns: 1fr;
        grid-template-rows: .1fr .5fr .3fr .3fr .3fr .3fr .1fr .3fr;
        grid-row-gap: 2rem;
    }

    .about .birthday {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        align-self: right;
    }

    .about .bio {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        align-self: center;
    }

    .about .me-pics {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .about .masters {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
        align-self: center;
    }

    .about .bio-2 {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;

    }

    .about .me-pics2 {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }

    .about .website-designer {
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
        justify-self: center;
    }

    .about .small-bio {
        grid-column: 1 / span 1;
        grid-row: 8 / span 1;
        font-size: 2em;
        align-self: center;
        letter-spacing: 8px;
    }

}

.me-pics>img,
.me-pics2>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.about h3 {
    margin-top: 1rem;
    font-size: 2em;
}

.about h6 {
    writing-mode: vertical-rl;
    text-orientation: upright;
}



/*PORTFOLIO*/
.portfolio h3 {
    margin-top: 2rem;
    font-size: 2em;
}

/*PORTFOLIO: MONIKA PIECHATZEK*/
.portfolio h1 {
    margin-top: 2rem;
    font-size: 4.4em;
}

.portfolio h4 {
    margin-top: 1.6rem;
    font-size: 2.8em;
}

.portfolio h6 {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.portfolio .monika-portfolio {
    display: grid;
    grid-template-columns: .3fr 1fr 1fr .3fr;
    grid-template-rows: 1fr 1fr .1fr;
    grid-gap: 20px;

}

.portfolio .monika-portfolio>div:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    align-self: center;
}

.portfolio .monika-portfolio>div:nth-child(2) {
    grid-column: 3 / span 2;
    grid-row: 1 / span 3;
}

.portfolio .monika-portfolio>div:nth-child(3) {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
}

/*PORTFOLIO IMGS*/
.portfolio .monika-portfolio div:nth-child(2)>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    z-index: 11;
}

.portfolio .portfolio-imgs {
    display: grid;
    grid-template-columns: .1fr .5fr .5fr .5fr .1fr;
    grid-template-rows: .15fr .12fr .1fr .1fr;
}

.portfolio .portfolio-imgs img:nth-child(1) {
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
    /*border-style: solid;
	border-width: 1px;
	border-color: #161718;*/
}

.portfolio .portfolio-imgs img:nth-child(2) {
    grid-column: 3 / span 3;
    grid-row: 2 / span 3;
    border-style: solid;
    border-width: 1px;
    border-color: #362e3e;
}

.portfolio .portfolio-imgs img:nth-child(3) {
    grid-column: 1 / span 3;
    grid-row: 3 / span 2;
}

.portfolio h5 {
    font-size: 1.25em;
}

/*MEDIUM PORTFOLIO*/
@media screen and (max-width: 980px) {

    .portfolio h1 {
        font-size: 3.3em;
    }

    .portfolio .monika-portfolio {
        grid-template-columns: .3fr 1fr 1fr .3fr;
        grid-template-rows: .3fr 1fr;

    }

    .portfolio .portfolio-imgs {
        grid-template-columns: .3fr 1fr .3fr;
        grid-template-rows: repeat(4, .1fr);
    }

    .portfolio .portfolio-imgs img:nth-child(1) {
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;

    }

    .portfolio .portfolio-imgs img:nth-child(2) {
        grid-column: 2 / span 2;
        grid-row: 2 / span 2;

    }

    .portfolio .portfolio-imgs img:nth-child(3) {
        grid-column: 1 / span 2;
        grid-row: 3 / span 2;
    }

}

/*SMALL PORTFOLIO*/
@media screen and (max-width: 770px) {

    .portfolio h1 {
        font-size: 2.3em;
    }

}

/*X-SMALL PORTFOLIO*/
@media screen and (max-width: 475px) {

    .portfolio h1 {
        font-size: 1.5em;
    }

    .portfolio .portfolio-imgs {
        grid-template-columns: .3fr 1fr .3fr;
        grid-template-rows: repeat(4, .4fr);
    }

    .portfolio .monika-portfolio {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .portfolio .monika-portfolio>div:nth-child(1) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        align-self: center;
    }

    .portfolio .monika-portfolio>div:nth-child(2) {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .portfolio .monika-portfolio>div:nth-child(3) {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

}

/*RESUME*/

.resume h3 {
    margin-top: 2rem;
    font-size: 2em;
}

.resume h4 {
    font-size: 1.5em;
    margin-bottom: 0px;
}

.resume .exp {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#resume .container>ul.no-bullets,
#resume>div:nth-child(2)>ul>li>div.dark-liverbg>div:nth-child(3)>ul {
    padding-left: 0px;
}

.resume {
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-template-rows: .2fr 1fr;
}

.resume>div:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}


.resume>div:nth-child(2) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.resume>div:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

/*RESUME GRID*/
.resume-inside-li {
    display: grid;
    grid-template-columns: 1fr;
}

.resume-inside-li>ul>li,
.resume-inside-li>ul {
    margin: 0;

}

.resume-inside-li>div:nth-child(3)>ul {
    padding-left: 0px;
}


/* SMALL MOBILE RESUME */

@media screen and (max-width: 475px) {
    .resume {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr .4fr 1fr;
    }

    .resume>div:nth-child(1) {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        justify-self: center;
    }


    .resume>div:nth-child(2) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        justify-self: center;
    }

    .resume>div:nth-child(3) {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

}


/*CONTACT*/

.contact h3 {
    margin-top: 1rem;
    font-size: 2em;
}

/*FORM*/

.form {
    display: grid;
    grid-template-columns: .9fr .5fr .8fr;
    grid-template-rows: .2fr .1fr .7fr .1fr;
    grid-gap: 25px;
}

.form>div:nth-child(1) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.form>div:nth-child(1)>ul {
    padding-left: unset;
}

.form>img {
    grid-column: 2 / span 2;
    grid-row: 2 / span 3;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.form>div:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    z-index: 11;
}

@media screen and (max-width: 770px) {

    .form {
        grid-template-columns: 1fr;
        grid-template-rows: .3fr .6fr 1fr;
    }

    .form>div:nth-child(1) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .form>img {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;

    }

    .form>div:nth-child(3) {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
}

#container button {

    overflow: visible;
    text-transform: none;
}


#container button,
#container input,
#container textarea {
    color: #bfaaad;
    font: inherit;

}

#container input {
    line-height: normal;
}

#container textarea {
    overflow: auto;
}

form {
    padding: 37.5px;
    margin: 50px 0;
}


.email {
    float: right;
    width: 45%;
}

input[type='text'],
input[type='email'],
textarea[id='question_input'] {
    background: none;
    border: none;
    border-bottom: solid 2px #bfaaad;
    color: #bfaaad;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type='text']:focus,
input[type='email']:focus,
textarea[id='question_input']:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.question {
    float: none;
}

.name {
    float: left;
    width: 45%;
}



textarea[id='question_input'] {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #bfaaad;
}

:-moz-placeholder {
    color: #bfaaad;
    opacity: 1;
}

::-moz-placeholder {
    color: #bfaaad;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #bfaaad;
}

#form_button {
    background: none;
    border: solid 2px #bfaaad;
    color: #bfaaad;
    cursor: pointer;
    display: inline-block;

    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#form_button:hover {
    background: #bfaaad;
    color: #cad3d2;
}

/*@media screen and (max-width: 768px) {
    #container {
        margin: 20px auto;
        width: 95%;
    }
}*/

@media screen and (max-width: 480px) {
    #form_button {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 420px) {

    input[type='text'],
    input[type='email'],
    textarea[id='question_input'] {
        font-size: 0.875em;
    }
}

/*PARALLAX*/
.height-all {
    height: 100%;
}

.parallax {
    /* The image used */

    background-image: url("../../src/images/mountain-night.jpg"), linear-gradient(#151617, #ffffff);

    /*Full height */
    height: 100%;
    width: 100vw;

    /*Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 650px) {
	.parallax {
    /* The image used */

    background-image: url("../../src/images/mountain-night.jpg"), linear-gradient(#151617, #ffffff);

    /*Full height */
    height: auto;
    width: 100vw;

    /*Create the parallax scrolling effect */
    background-attachment: unset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}}